.wrapper {
  max-width: 1096px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0; }

.top__banner {
  border-radius: 30px;
  position: relative;
  padding-top: 35px;
  height: 242px; }

.logo__block__img {
  margin-right: 10px;
  display: flex;
  width: 62px;
  height: 62px; }

.logo__block {
  margin-bottom: 21px; }

.logo__block__text__top {
  color: #7986EC;
  font-family: Overpass, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 9px; }

.logo__block__text__bottom {
  color: #7986EC;
  font-family: Overpass, sans-serif;
  font-size: 14.803px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; }

.erp__logo {
  width: 70px;
  height: 12px;
  display: flex;
  margin-bottom: 14px; }

.top__banner__version {
  color: rgba(0, 0, 0, 0.1);
  font-family: Overpass, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase; }

.main__nav-pills .nav-item {
  margin: 0 7px;
  width: 100%;
  max-width: 150px; }
  .main__nav-pills .nav-item .nav-link {
    width: 100%;
    height: 45px;
    border-radius: 10px 10px 0 0;
    border: 1px solid #E1E1E1;
    padding: 0 8px;
    border-bottom: 0;
    text-transform: uppercase;
    color: #000;
    font-family: Overpass, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: #F6F6F6; }
    .main__nav-pills .nav-item .nav-link.active {
      background: #ffffff; }

.main__tab-pane__border_first {
  border-radius: 30px;
  border: 1px solid #E1E1E1;
  padding: 130px 10px 60px; }

.sub__banner {
  z-index: 1;
  margin: -70px auto 32px;
  text-align: center;
  padding: 55px 10px 50px;
  width: 95%;
  max-width: 687px;
  height: 203px;
  flex-shrink: 0;
  border-radius: 35px; }

.sub__banner__title {
  color: #7986EC;
  font-family: Overpass, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px; }

.sub__banner__desc {
  max-width: 452px;
  width: 100%;
  margin: 0 auto;
  color: #797979;
  text-align: center;
  font-family: Overpass, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.features__title {
  color: #7986EC;
  font-family: Overpass, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 36px; }
  .features__title span {
    font-weight: 300; }

.features__item {
  text-align: center; }

.features__item__icon {
  width: 45px;
  height: 45px;
  display: inline-flex;
  margin-bottom: 14px; }

.features__item__title {
  color: #6877EB;
  text-align: center;
  font-family: Overpass, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 6px; }

.features__item__desc {
  color: #797979;
  text-align: center;
  font-family: Overpass, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; }

.inside__block {
  margin-top: 100px; }

.inside__block__title {
  color: #7986EC;
  text-align: center;
  font-family: Overpass, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 36px; }

.inside__tab__block {
  border-radius: 30px;
  border: 1px solid #E1E1E1;
  width: 90%; }

.module__img {
  border-radius: 10px;
  margin-bottom: 24px; }

.inside__tab__block .nav-link {
  display: flex;
  height: 50px;
  padding: 7px 36px;
  justify-content: center;
  align-items: center;
  color: #797979;
  text-align: center;
  font-family: Overpass, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 30px;
  border: 1px solid #E1E1E1;
  margin-bottom: 17px;
  background-color: #ffffff; }

.empty__block {
  width: 100%;
  height: 200px;
  border-radius: 30px 30px 0 0;
  margin-bottom: -65px;
  margin-top: -50px; }

.user__guide__title {
  color: #7986EC;
  font-family: Overpass, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 24px; }

.user__guide {
  margin-top: 104px; }

.user__guide__icon {
  width: 46px;
  height: 46px;
  margin-bottom: 24px; }

.user__guide__link {
  width: 242px;
  height: 50px;
  border-radius: 40px;
  border: 1px solid #6877EB;
  background-color: #6877EB;
  color: #FFF;
  font-family: Overpass, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal; }

.user__guide__link__btn {
  width: 83px;
  height: 50px;
  background-color: #fff;
  border-radius: 40px;
  border: 1px solid #6877EB;
  color: #6877EB;
  font-family: Overpass, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 17px; }

.footer__block {
  border-radius: 0 0 40px 40px;
  background-color: #6877EB;
  margin-top: 77px;
  color: #FFF;
  text-align: center;
  font-family: Overpass, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 25px 0 10px; }

.footer__block__logo {
  width: 106px;
  height: 18px; }

.footer__block__icon {
  width: 24px;
  height: 24px; }

/*# sourceMappingURL=style.css.map */
